/BepInEx/cache/chainloader_typeloader.dat
/BepInEx/cache/harmony_interop_cache.dat
/BepInEx/config/DTSOutwardTweaks/*/pinnedBagItems.dat
/BepInEx/config/DTSOutwardTweaks/*/pinnedPouchItems.dat
/BepInEx/config/DTSOutwardTweaks/*/pinnedSkills.dat
/BepInEx/config/ModifAmorphic.Outward.ActionUI/profiles/*/Default/ArmorSets.json
/BepInEx/config/ModifAmorphic.Outward.ActionUI/profiles/*/Default/Hotbars.json
/BepInEx/config/ModifAmorphic.Outward.ActionUI/profiles/*/Default/KeyboardMap_ActionSlots.xml
/BepInEx/config/ModifAmorphic.Outward.ActionUI/profiles/*/Default/Mouse_ActionSlots.xml
/BepInEx/config/ModifAmorphic.Outward.ActionUI/profiles/*/Default/UIPositions.json
/BepInEx/config/ModifAmorphic.Outward.ActionUI/profiles/*/Default/WeaponSets.json
/BepInEx/config/ModifAmorphic.Outward.ActionUI/profiles/*/profile.json
/BepInEx/LogOutput.log
/ControllerAssignation.json
/MonoBleedingEdge/
/OptionSettings.oos
/OTW_*.txt
/output_log.txt
/Outward Definitive Edition_Data/
/Outward Definitive Edition.exe
/Player*_Keymappings.xml
/SaveGames/
/UnityCrashHandler64.exe
/UnityPlayer.dll
