/ControllerAssignation.json
/MonoBleedingEdge/
/OptionSettings.oos
/OTW_*.txt
/output_log.txt
/Outward Definitive Edition_Data/
/Outward Definitive Edition.exe
/Player*_Keymappings.xml
/SaveGames/
/UnityCrashHandler64.exe
/UnityPlayer.dll